.cards-item, .cards-img {
    width: 400px;
}

.cards-name {
    color: rgb(190, 190, 234);
    font-size: 20px;
}

.cards-item {
    background-color: rgb(47, 82, 143);
    padding: 10px;
    -webkit-box-shadow: 8px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 8px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 8px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.title-container {
    width: 95%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
