.header-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style-type: none;
    gap: 20px;
}
.header-link-item {
    list-style-type: none;
    font-size: 20px;
    color: black;
}