.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    row-gap: 10px;
}